{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block main %}About Us{% endblock %}
{% block content %}
        <!-- breadcum section -->

        <div class="breadcum">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main_breadcum">
                            <ul>
                                <li><a href="/" class="trans" title="Home">Home</a></li>
                                <li>About</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- breadcum section -->

        <!-- History section -->
        <section>
            <div class="history_sction">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_history">
                                <h2 class="title">Our History</h2>
                                <div class="desc">
                                    <p>In early January, we opened more than 100 were considered, from the largest international behemoths to far smaller regional ones. Hundreds of voters in, and while the race was tight, one rose to the top of the heap.</p>

                                    <p> Making a quality pizza from scratch isn’t easy, but successful have it down to a science. Some pride themselves on crafting each pie by hand with all-natural ingredients; others churn out a massive quantity of pizzas daily with the help of high-tech machinery. At the end of the day, though, every pizz customer has his or her favorite.</p>
                                </div>
                                <div class="points_history">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <ul>
                                                <li class="icon1">
                                                    <a class="trans" title="Delivery or Takeaway">
                                                        <span>Delivery or Takeaway</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <ul>
                                                <li class="icon2">
                                                    <a class="trans" title="Secure card payment">
                                                        <span>Secure card payment</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <ul>
                                                <li class="icon3">
                                                    <a class="trans" title="Cash payment">
                                                        <span>Cash payment</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <ul>
                                                <li class="icon4">
                                                    <a class="trans" title="Delivery or Takeaway">
                                                        <span>Delivery or Takeaway</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- History section -->

        <!-- Order Section start here -->
        <section>
            <div class="Order">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_Order">
                                <h2 class="title">Order Online Your Food</h2>

                                <p class="desc">We offer delicious menus and packages including Pizzas, handmade Pastas, traditional Italian Chicken dishes, and mouthwatering Salads and Appetizers.</p>
                                <div class="order_button">
                                    <a href="menu" class="red_btn trans hvr-ripple-out" title="Order Now">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Order Section end here -->
        {% endblock %}