{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block main %}Contact Us{% endblock %}
{% block content %}
        <!-- breadcum section -->
        <div class="breadcum">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main_breadcum">
                            <ul>
                                <li><a href="index.html" class="trans" title="Home">Home</a></li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcum section -->
        <!-- Our login section -->
        <section id="contact_us">
            <div class="contact_section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_contact">
                                <div class="contact_left">
                                    <div class="contact_box  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <h2 class="title">Send Us a Quick Message</h2>
                                        <form method="post" id="contactusform" action="contact">
                                        {% csrf_token %}
                                            <div class="login_form">
                                                <ul>
                                                    <li>
                                                        <label for="name">Name<span>*</span></label>
                                                        <input class="form-control" id="name" placeholder="" title="Name" name="name" type="text" required>
                                                    </li>
                                                    <li>
                                                        <label for="email">Email</label>
                                                        <input class="form-control" id="email" placeholder="" title="Email" name="email" type="email" required>
                                                    </li>
                                                    <li>
                                                        <label for="Message">Message</label>
                                                        <textarea class="form-control" title="Message" name="message" id="Message" required></textarea>
                                                    </li>

                                                    <li>
                                                        <button type="submit" class="contactus-btn red_btn trans squre-btn hvr-ripple-out" name="Let'sdoit">Let's do it</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="contact_right ">
                                    <div class="contact_box col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <h2 class="title">Get In Touch</h2>

                                        <h3 class="cont_header">By simply doing business with us, we will ​guarantee our service response to you within 24hrs</h3>
                                        <ul class="contact_dtls">
                                            <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                                <h3 class="cont_title">Address</h3>
                                                <p><a href="#">234 Main Street, New Delhi, Delhi</a></p>
                                            </li>
                                            <li class="email">
                                                <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                                <h3 class="cont_title">Email</h3>
                                                <p><a href="mailto:info@pizza.co.uk">info@LunchLauncher.co.in</a></p>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                                                <h3 class="cont_title">Phone</h3>
                                                <p><a href="tel:+012345656789">+91 9876543210</a></p>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                                <h3 class="cont_title">Open</h3>
                                                <p>Mon - Fri: 08:00 am - 10:00 pm</p>
                                                <p>Sat - Sun: 10:00 am - 11:00 pm</p>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our login section -->
        <!-- Map Start here -->
        <div class="map">
            <iframe src="https://maps.google.com/maps?hl=en&amp;q=new%20maxico%20city+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=6&amp;iwloc=B&amp;output=embed"></iframe>
        </div>
        <!-- Map End here -->
        <!-- Quick Order Section -->
        <section>
            <div class="quick_order">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_quickorder">
                                <h3 class="title">Call Us for Quick Order</h3>
                                <div class="cntct typewriter-effect"><span class="call_desk"><a href="9876543210">9876543210</a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Quick Order Section -->
       {% endblock %}