{% extends 'base.html' %}
{% block title %}Faq{% endblock %}
{% block main %}FAQ{% endblock %}
{% block content %}
        <!-- breadcum section -->

        <div class="breadcum">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main_breadcum">
                            <ul>
                                <li><a href="/" class="trans" title="Home">Home</a></li>
                                <li>Faq</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- breadcum section -->
        <!-- Faq section -->
        <section id="faq">
            <div class="faq_section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="faq_contact">
                                <h2 class="title">Frequently Asked Questions</h2>
                                <ul>
                                    <li>
                                        <h3>How do I use a coupon code?</h3>
                                        <p>You will enter the coupon code during checkout, after adding the items you wish to purchase to your cart. Enter the code into the box labelled “Coupon #” and click “Apply Coupon” on the “Order Review” page. </p>
                                    </li>
                                    <li>
                                        <h3>My online order did not go through, however my credit card was still charged. How do I get a refund?</h3>
                                        <p>When you enter your credit card information incorrectly, your order cannot be processed. For security purposes, your bank will place a hold and you will see a pending amount reflect on your account. Within 3-5 business days, depending on your bank, the hold on that amount will drop from your account.</li>
                                    <li>
                                        <h3>I can’t find my coupon on the hot deals page. Where’s it at?</h3>
                                        <p>To use a coupon, add the corresponding items to your cart. Then, on the order review page enter the Offer Code # found on the coupon into the box labeled Coupon #. After entering the code click “ADD TO ORDER”</p>
                                    </li>
                                    <li>
                                        <h3>How do I create a half and half pizza?</h3>
                                        <p>Unfortunately, we are unable to do Half and Half specialty pizzas. However, you can create a non-specialty half and half pizza by clicking create your own on the pizzas page. Once on the create your own pizza page, click ingredients and you will be able to add sauce, toppings, or cheese to individual sides of the pizza.</p>
                                    </li>
                                    <li>
                                        <h3>Does your cheese include animal rennet?</h3>
                                        <p>Our cheese is 100% whole milk mozzarella made in the sunny Central Valley of California. Our mozzarella cheese is made using microbial rennet (non-animal sourced).</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Faq section -->

        <!-- Quick Order Section -->
        <section>
            <div class="quick_order">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_quickorder">
                                <h3 class="title">Call Us for Quick Order</h3>
                                <div class="cntct typewriter-effect"><span class="call_desk"><a href="tel:9876543210">9876543210</a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Quick Order Section -->
        {% endblock %}