{% extends 'base.html' %}
{% block title %}Thankyou{% endblock %}
{% block main %}Thankyou{% endblock %}
{% block content %}
<!-- breadcum section -->
<div class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main_breadcum">
                    <ul>
                        <li><a href="/" class="trans" title="Home">Home</a></li>
                        <li>Thankyou</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcum section -->
<div class="col-md-6 mx-auto my-5 p-6 text-center">
    <h4 class="mb-3">Thankyou For Ordering</h4>
    <h4 class="mb-3">To Track your Order Click Here</h4>
    <a href="tracking" class="trans" title="tracking">Track</a>
</div>
{% endblock %}